{% extends 'employer/employer_dash.html' %}


{% block content %}

<div style="display:grid;grid-template-columns:1fr;grid-gap:50px;">

{% for i in job_application_objects %}

<div class="card" style="width:60%;margin:auto;">
  <img src="{{i.job_post.poster_image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">
      Employer:{{i.job_post.employer.name}}<br>
      Job roles:{{i.job_post.job_roles}}<br>
      Job descriptions:{{i.job_post.job_description}}<br>
      Job requirements:{{i.job_post.requirements}}<br>
      Required qualification:{{i.job_post.educational_qualification}}<br>
      Email:{{i.job_post.employer.email}}<br>
      Phone number:{{i.job_post.employer.phone_number}}<br>
      Last date for application:{{i.job_post.application_last_date}}<br>
      Applicant name:{{i.jobseeker.name}}
    </p>
      <a href="{% url 'employer_view_applicants_details' i.id %}"><button class="btn btn-warning">Applicant's details</button></a><br><br>
      <a href=""><button class="btn btn-success">Accept job application</button></a>

  </div>
</div>

{% endfor %}

</div>

{% endblock %}