{% extends 'employer/employer_dash.html' %}


{% block content %}

<div style="display:grid;grid-template-columns:1fr;grid-gap:50px;">

{% for i in shortlist_objects %}

<div class="card" style="width:60%;margin:auto;">
  <img src="{{i.job_application.job_post.poster_image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">
      Employer:{{i.job_application.job_post.employer.name}}<br>
      Job roles:{{i.job_application.job_post.job_roles}}<br>
      Job descriptions:{{i.job_application.job_post.job_description}}<br>
      Job requirements:{{i.job_application.job_post.requirements}}<br>
      Required qualification:{{i.job_application.job_post.educational_qualification}}<br>
      Email:{{i.job_application.job_post.employer.email}}<br>
      Phone number:{{i.job_application.job_post.employer.phone_number}}<br>
      Last date for application:{{i.job_application.job_post.application_last_date}}<br>
      Applicant name:{{i.job_application.jobseeker.name}}
    </p>
      <a href="{% url 'employer_view_applicants_details' i.job_application.id %}"><button class="btn btn-warning">Check applicant's details</button></a><br><br>
{% if i.is_interview_created == 0 %}
    <a href="{% url 'employer_create_interview_shedule' i.id %}"><button class="btn btn-success">Create an ineterview shedule</button></a>
{% elif i.is_interview_created == 1 %}
    <p style="color:yellow;">You have created an inetrview shedule for this job application!</p>
{% endif %}



  </div>
</div>

{% endfor %}

</div>

{% endblock %}