{% extends 'employer/employer_dash.html' %}


{% block content %}

<div style="display:grid;grid-template-columns:1fr;grid-gap:50px;">

{% for i in interview_objects %}

<div class="card" style="width:100%;margin:auto;background-color:#E6E6FA;">
  <img src="{{i.shortlist.job_application.job_post.poster_image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text" style="color:black;">
      Employer:{{i.shortlist.job_application.job_post.employer.name}}<br><br>
      Job roles:{{i.shortlist.job_application.job_post.job_roles}}<br><br>
      Job descriptions:{{i.shortlist.job_application.job_post.job_description}}<br><br>
      Job requirements:{{i.shortlist.job_application.job_post.requirements}}<br><br>
      Required qualification:{{i.shortlist.job_application.job_post.educational_qualification}}<br><br>
      Email:{{i.shortlist.job_application.job_post.employer.email}}<br><br>
      Phone number:{{i.shortlist.job_application.job_post.employer.phone_number}}<br><br>
      Last date for application:{{i.shortlist.job_application.job_post.application_last_date}}<br><br>
      Applicant name:{{i.shortlist.job_application.jobseeker.name}}<br><br>
    </p>
      <a href="{% url 'employer_view_applicants_details' i.shortlist.job_application.id %}"><button class="btn btn-warning">Check applicant's details</button></a><br><br>
    {% if i.is_mailed == 0 %}
      <a href="{% url 'employer_send_mail' i.id %}"><button class="btn btn-success">Send mail to the applicant</button></a><br><br>
    {% elif i.is_mailed == 1%}
    <p style="color:green;">You have mailed to the applicant!</p>
    {% endif %}



  </div>
</div>

{% endfor %}

</div>

{% endblock %}