{% extends 'admin/admin_dash.html' %}

{% block content %}

<div class="card" style="width:60%;margin:auto;">
  <img src="{{jobseeker_object.profile_picture.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text">
    <h3>Applicants details</h3>
    Name:{{jobseeker_object.name}}<br>
    Qualification:{{jobseeker_object.qualifictaion}}<br>
    Bio:{{jobseeker_object.bio}}<br>
    Date of birth:{{jobseeker_object.dob}}<br>
    Adress:{{jobseeker_object.address}}<br>
    Phone number:{{jobseeker_object.phone_number}}<br>
    Email:{{jobseeker_object.email}}<br>
    Resume:<a href="{{jobseeker_object.resume.url}}" style="color:blue;"><button class="btn btn-success">View resume</button></a>

    </p>

  </div>
</div>

{% endblock %}