{% extends 'jobseeker/jobseeker_dash.html' %}


{% block content %}

<div style="display:grid;grid-template-columns:1fr;grid-gap:50px;">

{% for i in interview_objects %}

<div class="card" style="width:60%;margin:auto;background-color:#E6E6FA;">
  <img src="{{i.shortlist.job_application.job_post.poster_image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text" style="color:black;">
      Employer:{{i.shortlist.job_application.job_post.employer.name}}<br><br>
      Job roles:{{i.shortlist.job_application.job_post.job_roles}}<br><br>
      Job descriptions:{{i.shortlist.job_application.job_post.job_description}}<br><br>
      Job requirements:{{i.shortlist.job_application.job_post.requirements}}<br><br>
      Required qualification:{{i.shortlist.job_application.job_post.educational_qualification}}<br><br>
      Email:{{i.shortlist.job_application.job_post.employer.email}}<br><br>
      Phone number:{{i.shortlist.job_application.job_post.employer.phone_number}}<br><br>
      Last date for application:{{i.shortlist.job_application.job_post.application_last_date}}<br><br>
      Jobseeker name:{{i.shortlist.job_application.jobseeker.name}}<br><br>
      {% if i.is_hired == 0 and i.is_rejected == 0 %}
      <a href="{% url 'jobseeker_view_interview_shedule' i.id %}"><button class="btn btn-success">View Interview Shedule</button></a>
      {% elif i.is_hired == 1 and i.is_rejected == 0 %}
      <p style="color:green;">Congradulations!You are hired for this job role.PLease check further details!</p>
      {% elif i.is_hired == 0 and i.is_rejected == 1 %}
      <p style="color:green;">We are really sorry!You are not selected for this job role.Better luck next time!</p>
    {% endif %}

    </p>
  </div>
</div>

{% endfor %}

</div>

{% endblock %}